.score-container {
  text-transform: uppercase;
  color: var(--score-text);
  background-color: white;
  border-radius: 5px;
  padding: 1rem 3rem;

  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 2px;

  span {
    display: flex;
    flex-direction: column;

    strong {
      color: var(--dark-text);
      font-size: 3.5rem;
      font-weight: 700;
    }
  }
}

